* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

label {
  display: block;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  border: none;
  border: 1px solid #555;
}

input:focus {
    border: 3px solid #555;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

button {
  background-color: #00bcd4;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 0;
  outline: none;
  padding: 10px 20px;
  transition: background-color 1s ease;
}

button:hover {
  background-color: #266c75;
}

.active {
  background-color: #f5f5dc;
}
